{% extends 'admin/model/create.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %}


{% block head_tail %}
<script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/wangeditor/2.1.10/js/wangEditor.min.js"></script>
<link href="http://cdn.bootcss.com/wangeditor/2.1.10/css/wangEditor.min.css" rel="stylesheet">
{% endblock %}

{% block create_form %}

<form class="admin-form form-horizontal" role="form" action="" enctype="multipart/form-data" method="POST">
  <div class="form-group">
    <label class="col-md-2 control-label" for="name">Name
        &nbsp;
    </label>
    <div class="col-md-10">
      <input name="name" class="form-control" id="name" type="text" value="">
    </div>
  </div>
    <hr>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10 submit-row">
        <input class="btn btn-primary" type="submit" value="Save">
  <input name="_add_another" class="btn btn-default" type="submit" value="Save and Add Another">
  <input name="_continue_editing" class="btn btn-default" type="submit" value="Save and Continue Editing">
          <a class="btn btn-danger" role="button" href="/admin/category/">Cancel</a>
      </div>
    </div>
</form>
    {{ lib.render_form(form, return_url, extra(), form_opts) }}

<script type="text/javascript">
    var editor = new wangEditor('body');
    editor.create();
</script>
{% endblock %}
