{% extends "base.html" %}
{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">用户</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            修改密码
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" action="" method="POST" name="form">
					 {{ form.hidden_tag() }}
                                        <div class="form-group" style="display:none">
                                            <label>ID</label>
						<input name="id" class="form-control" id="id" type="text" placeholder="ID" value="{{ id }}">
                                            <p class="help-block">不可修改</p>
                                        </div>
                                        <div class="form-group">
                                            <label>用户名</label>
						<input name="username" class="form-control" id="username" type="text" placeholder="Username" value="{{ name }}">
                                            <p class="help-block">用户名不可修改</p>
                                        </div>
                                        <div class="form-group">
                                            <label>所属人员</label>
						<input name="master" class="form-control" id="master" type="text" placeholder="所属人员" value="{{ master }}">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>密码</label>
					{{ form.password(class="form-control", placeholder="Password", type="password") }}
                                        </div>
 
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

{% endblock %}
